#Simple String Array
<p *ngFor="let task of tasks">
    {{task}}
</p>

#Simple Object Array

<app-panel title="Filmes">

<div>
<input type="text" placeholder="Inserir uma nova tarefa" [(ngModel)]="newTask">
<button (click)="addTask()">Adicionar nova Tarefa</button>
</div>
<div>{{newTask}}</div>
<table>
    <tr *ngFor="let task of tasks2; let i = index">
        <ng-container *ngIf="!task.done">
            <td>
                <input type="checkbox" [(ngModel)]="task.done" >
            </td>
            <td>        
                <label>{{task.description}}</label>
            </td>
            <td>
                <button (click)="delTask(i)">Deletar tarefa</button>
            </td>
        </ng-container>
    </tr>
</table>

<div [ngSwitch]="tasks2.length">
    <div *ngSwitchCase="0">Nenhuma tarefa</div>
    <div *ngSwitchCase="1">Uma tarefa</div>
    <div *ngSwitchDefault>{{tasks2.length}} tarefas</div>
</div>

<div>{{tasks2[1].done}}</div>

</app-panel>

<app-panel title="Series">
    <span>Panel 2</span>
</app-panel>

<div>Foto {{fotoAtual}} de {{totalFotos}}</div>
<h2>{{value + 10}}</h2>
<input type="number" bind-value="value+2">
<img src="{{imgUrl}}" alt="">