Olá
<c1></c1>
<app-c2></app-c2>
<h1>Data Binding Básico</h1>
<app-counter></app-counter>

<br>

<br>---------------------------------------------------
<br>A partir daqui conteúdo estrutural -> ngIF
<br>---------------------------------------------------<br><br>
<app-estrutural></app-estrutural>

<br>

<br>---------------------------------------------------
<br>A partir daqui conteúdo estrutural -> ng
<br>---------------------------------------------------<br><br>
<app-todo-list></app-todo-list>
